// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;














$material-light: (
  background: rgba(0,0,0,0),

  text:(
    secondary:rgba(0,0,0,0.8)
  ),
);

$material-dark: (
  text:(
    secondary: #fff
  ),
);






$headings: (
  h1: (
    'size': 1.9em,
    'weight': 700,
    'line-height': 1.5,
    'font-style' : italic,
    'font-family': 'PT Serif', sans-serif,
  ),
  h2: (
    'size': 1.6em,
    'weight': 900,
    'line-height': 1.5,
    'font-family': 'Overlock',
  ),
  h3: (
    'size': 1.2em,
    'weight': 900,
  ),
  h4: (
    'font-family': 'PT Serif', sans-serif,
    'size': 1.1em,
    'font-style' : italic,
    'weight': 700,
  ),
);




// BUTTONS 
$btn-font-weight:(bold);
$btn-border-radius:0;
$btn-hover-opacity: 0.1;

// INPUTS
$label-font-size: 14px;
$text-field-border-radius: 0px;

// MENU
$menu-content-border-radius: 0px;


$body-font-family: 'Fira Sans', Arial, sans-serif;
$font-size-root: 18px !default;
$color-pack: false;


@import '~vuetify/src/styles/styles.sass';






.text-h2, .v-alert__wrapper, .v-card__title{
  -moz-hyphens: auto !important;
  -o-hyphens: auto !important;
  -webkit-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
  line-height:1.25em !important;
  word-break: normal !important;
}


.v-alert{
  word-break: normal !important;
}


.text-h2 a {
text-decoration: none !important;
}


