// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$body-font-family: 'PT Sans', sans-serif;
$font-size-root: 17px !default;
$line-height-root: 2 !default;
$border-radius-root: 0px !default;

$color-pack: false;







@import '~vuetify/src/styles/styles.sass';





:active, :focus{
  outline: none !important;
}

::selection {
  background: #305596; 
  color:#fff;
}
::-moz-selection {
  background:#305596; 
  color:#fff;
}

h1{
  font-family: 'PT Serif', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-align: right;
  font-size: 2.5em;
}

h2{
  font-size: 1.8em;
  color:#305596;
}

h3{
  text-transform: uppercase;
}

h4{
  font-family: 'PT Serif', sans-serif;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: 0.25em;
}

.v-ripple__container {
  display:none !important;
}


a{
  color: #305596!important;
}



@media only screen and (max-width: 599px) {

  h1{
    font-size: 2em;
    -moz-hyphens: auto !important;
    -o-hyphens: auto !important;
    -webkit-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
  }
  h2{
    font-size: 1.5em;
  }

}
